{% load notifications_tags %}
{% notifications_unread as unread_count %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">我的博客</a>
    </div>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'article:article_create' %}">写文章</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'article:article_list' %}">文章</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--小红点-->
                        {% if unread_count %}
                            <svg viewBox="0 0 8 8" width="8px" height="8px">
                                <circle r="4" cx="4" cy="4" fill="#ff6b6b"></circle>
                            </svg>
                        {% endif %}
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- 通知计数-->
                        <a class="dropdown-item" href="{% url 'notice:list' %}">通知
                            {% if unread_count %}
                                <span class="badge badge-danger">{{ unread_count }}</span>
                            {% endif %}
                        </a>
                        <a class="dropdown-item" href="{% url 'userprofile:edit' user.id %}">个人信息</a>
                        <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
                        <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">登录</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% if user.is_authenticated %}
    <script>
        function user_delete() {
            layer.open({
                title: '确认删除',
                content: '确认删除用户资料吗？',
                yes: function (index, layer) {
                    location.href = '{% url 'userprofile:delete' user.id %}'
                }
            })
        }
    </script>
{% endif %}